/* customize the design of the widget button */

.nd-widget-container .clearfix {
    display: block;
}

.nd-widget-container img {
    border: none;
}

.nd-widget-container ul {
    list-style: none;
}

.nd-widget-container a {
    text-decoration: none !important;
    cursor: pointer !important;
}

.nd-widget-container a:hover {
}

.nd-widget-container p {
    margin: auto;
}

.newdev_widget_div {
    font-family: 'Ubuntu', sans-serif;
}

.newdev_widget_msg {
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}

.widget-but {
    position: relative;
    display: block;
    /*height: 30px;*/
    line-height: 30px;
    -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
    box-shadow:inset 0px 1px 0px 0px #fff6af;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
    background-color:#ffec64;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ffaa22;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 14px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffee66;
}
.widget-but:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
    background-color:#ffab23;
}
.widget-but:active {
    position:relative;
    top:1px;
}

.icon-bnt {
    width: 22px;
    height: 30px;
    float: left;
    margin-right: 10px;
    background: url(../img/icon-but.png) no-repeat center;
}

.online-bnt {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 16px;
    height: 16px;
    background: url(../img/online.png) no-repeat;
}

.offline-bnt {
    position: absolute;
    top: -5px;
    right: -5px;
    width: 16px;
    height: 16px;
    background: url(../img/offline.png) no-repeat;
}

#widget_tooltip_container {
    position: absolute;
    width: 150px;
    z-index: 999999;
}


.modal-left-s {
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-shadow: none;
    color: #000;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    border:1px solid #f5f5f5;
    width: 150px;
    padding: 12px;
    background-color: #fff;
}

.modal-left-s p {
    padding: 5px;
    font-size: 12px;
}

.modal-left-s button {
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    width: 100px;
    height: 30px;
    display: block;
    border: none;
    background-color: #484d75;
    color: #fff;
    margin: 5px 22px;
    cursor: pointer;
}

.modal-left-s textarea {
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    background: #f5f5f5;
    width: 150px;
    height: 60px;
    color: #000;
    border:1px solid #3866a3;
    font-size: 10px;
    padding: 2px;
}